<template>
    <div>

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Employee</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Add Employee</div>
                    <div class="card-body">
                        <form method="POST" action="#">
                            <div class="form-group row">
                                <label for="first_name" class="col-md-4 col-form-label text-md-right">First Name</label>
                                <div class="col-md-6">
                                    <input id="first_name" type="text" class="form-control" name="first_name" value=""
                                        required autocomplete="first_name" autofocus>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="middle_name" class="col-md-4 col-form-label text-md-right">Middle Name</label>
                                <div class="col-md-6">
                                    <input id="middle_name" type="text" class="form-control" name="middle_name" value=""
                                        required autocomplete="middle_name" autofocus>
                                </div>
                            </div>
                            <div class="form-group row">
                                 <label for="last_name" class="col-md-4 col-form-label text-md-right">Last Name</label>
                                <div class="col-md-6">
                                    <input id="last_name" type="text" class="form-control" name="last_name" value=""
                                        required autocomplete="last_name" autofocus>
                                </div>
                            </div>
                            <div class="form-group row">
                                 <label for="birthdate" class="col-md-4 col-form-label text-md-right">Birthdate</label>
                                <div class="col-md-6">
                                     <datepicker input-class="form-control"></datepicker>
                                </div>
                            </div>
                            <div class="form-group row">
                                 <label for="address" class="col-md-4 col-form-label text-md-right">Address</label>
                                <div class="col-md-6">
                                    <input id="address" type="text" class="form-control" name="address" value=""
                                        required autocomplete="address" autofocus>
                                </div>
                            </div>
                            <div class="form-group row">
                                 <label for="zip_code" class="col-md-4 col-form-label text-md-right">Zip Code</label>
                                <div class="col-md-6">
                                    <input id="zip_code" type="text" class="form-control" name="zip_code" value=""
                                        required autocomplete="zip_code" autofocus>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="country_id" class="col-md-4 col-form-label text-md-right">Country</label>
                                <div class="col-md-6">
                                    <select name="country_id" class="form-control">
                                        <option v-for="country in countries" :key="country.id" :value="country.id">
                                            {{ country.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="state_id" class="col-md-4 col-form-label text-md-right">State</label>
                                <div class="col-md-6">
                                    <select name="state_id" class="form-control">
                                        <option value="1" selected>Please select one</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="city_id" class="col-md-4 col-form-label text-md-right">City</label>
                                <div class="col-md-6">
                                    <select name="city_id" class="form-control">
                                        <option value="1" selected>Please select one</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="department_id" class="col-md-4 col-form-label text-md-right">Department</label>
                                <div class="col-md-6">
                                    <select name="city_id" class="form-control">
                                        <option value="1" selected>Please select one</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="date_hired" class="col-md-4 col-form-label text-md-right">Hired  Date</label>
                                <div class="col-md-6">
                                    <datepicker input-class="form-control"></datepicker>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Add
                                    </button>
                                    <router-link :to="{name: 'EmployeesIndex'}" class="btn btn-warning">Cancel
                                    </router-link>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    export default {
      components: {
        Datepicker,
      },
      data() {
        return {
          countries: [],
          states: [],
          cities: [],
          departments: []
        }
      },
      created() {
        this.getCountries();
      },
      methods: {
        getCountries() {
            axios
                .get("/api/employees/countries")
                .then(res => {
                    this.countries = res.data
                })
                .catch(error => {
                    console.log(error)

                })
        }
      }
    }

</script>

<style>

</style>
