<template>
    <div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">List Employees</h1>
        </div>
        <div class="row">
            <div class="card mx-auto">
                <div>
                    <div class="alert alert-success">
                    </div>
                </div>
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <form method="GET" action="/">
                                <div class="form-row align-items-center">
                                    <div class="col">
                                        <input type="search" name="search" class="form-control"
                                            placeholder="keyword" />
                                    </div>
                                    <div class="col">
                                        <input type="submit" value="Search" class="btn btn-success btn-sm" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col">
                          <router-link :to="{name: 'EmployeesCreate'}"  class="btn btn-success btn-sm float-right">
                            Add Employee
                          </router-link>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">City</th>
                                <th scope="col">ZIP Code</th>
                                <th scope="col">Department</th>
                                <th scope="col">Birthdate</th>
                                <th scope="col">Hired On</th>
                                <th scope="col" colspan="2">Manage</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="/"
                                        class="btn btn-success btn-sm">Edit</a>
                                </td>
                                <td>
                                    <form method="POST" action="/">
                                        <button class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>
</style>
